---
import HeaderItem from './HeaderItem.astro';
const { movies } = Astro.props;
---

<div id="header-carousel" class="relative overflow-hidden w-full h-96 md:h-[36rem] ">
    {movies.map((movie, index) => (
        <HeaderItem
            key={index} 
            title={movie.title}
            image={movie.backdrop_path}
            duration={movie.duration}
            description={movie.description}
            class={`carousel-item ${index === 0 ? 'active' : ''}`} 
        />
    ))}
</div>

<script type="text/javascript">
    document.addEventListener("astro:page-load", () => {
        const movies = document.querySelectorAll("#header-carousel > *");
        if (movies.length === 0) return;
        let currentIndex = 0;

        movies.forEach((movie, index) => {
            movie.style.display = index === 0 ? "flex" : "none";
        });

        setInterval(() => {
            movies[currentIndex].style.display = "none";
            currentIndex = (currentIndex + 1) % movies.length;
            movies[currentIndex].style.display = "flex";
        }, 6000);
    });
</script>
