---
export const prerender = false;

import { getMovieById, getMovies } from "../../api/movies"
import AlarmButton from "../../components/AlarmButton.astro";
import Carousel from "../../components/Carousel.astro"
import MovieTitle from "../../components/MovieTitle.astro"
import PlayButton from "../../components/PlayButton.astro";
import LikeButton from "../../components/LikeButton.astro";

import SectionTitle from "../../components/SectionTitle.astro";
import Layout from "../../layouts/Layout.astro"
import { formatMinutes } from "../../utils/general";

// Hacemos la función asíncrona
const { movie_id } = Astro.params

const movie = await getMovieById(movie_id) // Asegurarnos de usar await aquí

if (!movie) Astro.redirect("/404")

const { id, title, description, year, backdrop_path, poster_path, genres } = movie

const allMovies = await getMovies()
const recomendations = allMovies.filter((m) => m.id.toString() !== id.toString())

---

<Layout background={backdrop_path} title={title}>
    <div 
        class="flex flex-col md:flex-row mx-auto rounded-xl gap-4 w-full px-6 xl:px-8 pt-20 pb-20 my-auto items-center"
    >
        <div class="w-full h-full md:w-1/2 xl:max-w-[28vw] 2xl:max-w-[22.5vw] rounded-xl overflow-hidden">
            <img src={poster_path} alt="" class="h-full w-full object-cover" transition:name=`movies_${id}`>
        </div>
    
        <div class="bg-background text-primary rounded-xl overflow-hidden backdrop-blur-lg w-full bg-[rgba(0,0,0,0.5)] py-8">
            <div class="px-6 xl:px-8">
                <div class="animate-slide-in">
                    <div class="flex flex-col md:flex-row md:items-center justify-between gap-4">
                        <div class="flex md:flex-row items-baseline gap-3 flex-col w-full">
                            <h1 class="text-3xl xl:text-4xl font-bold leading-tight text-accent min-w-fit">
                                {title}
                            </h1>
                            <p class="text-base xl:text-md text-primary w-full text-left">
                                {year}
                            </p>
                        </div>
                        <div class="flex flex-row gap-2">
                            {
                                genres.map((genre) => (
                                    <div class="border-secondary border-2 text-xs rounded-full px-4 py-1 min-w-fit">
                                        {genre}
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                    <p class="text-base md:text-md mt-4 mb-7 text-primary text-left">
                        {description}
                    </p>
                    <div class="flex flex-row gap-4 md:flex-row md:gap-4 justify-between">
                        <PlayButton />
                        <div class="flex gap-2">
                            <AlarmButton />
                            <LikeButton />
                        </div>
                    </div>
                </div>
            </div>
            <SectionTitle title="Otras Recomendaciones" />
            <Carousel movies={recomendations} />
        </div>
    </div>
</Layout>
